:root {
    --text-color: #212121;
    --link-color: #757575;
    --font-family: Roboto, sans-serif;
    --font-family-logo:Raleway, sans-serif;

}


/* Header section */

.global-header{
    display: flex;
    width: 100%;
    border-bottom: 1px solid #ECECEC;
}
.global-header .main-navigation{
    display: flex;
    flex-direction: row;
    padding-left: 50px;

}

.global-header .main-navigation ul{
    display: flex;
    gap: 50px;

}

.nav-container{
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}

.contact-container{
    display: flex;
    width: 50%;
    min-width: 100%;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding-right: 100px;
    
}



.logo-header{
    display: flex;
    align-items: center;
    padding-left: 215px;
    padding-top: 20px;
}
.logo-web{
    color: #2196F3;
    font-family: var(--font-family-logo);
    font-weight: 700;
    font-size: 26px;
    
}
.logo-studio{
    color: #000000;
    font-family: var(--font-family-logo);
    font-weight: 700;
    font-size: 26px;
    
}
.current{
    color: #2196F3;
}

header a:hover{
    color: #2196F3;
}
header a {
    text-decoration: none;
    color: var(--link-color);
}

nav a{
     color: var(--text-color);
    text-decoration: none;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
}
nav a:hover{
    color: #2196F3;
}



/* Main section */
body{
    font-family: Roboto, sans-serif;
    
}


.first-section{
    background-color: #2F303A;
    width: 100%;
    height: 600px;
}
.first-section h1{
    padding-top: 200px;
}
.btn-horizontal button:hover{
    background-color: #FFFFFF;
    color: #2196F3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}
.btn-horizontal{
    display: flex;
    justify-content: center;
    
}
.btn-horizontal button{
    border-radius: 4px;
}
.first-section button{
    border: none;
    cursor: pointer;
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #2196F3;
    width: 200px;
    height: 50px;

}

h1{
    font-family: var(--font-family);
    font-weight: 900;
    font-size: 44px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 0%;
}

.second-section h3{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    color: #212121;
    
}
.second-section p{
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 400;
    color: #757575;
}

.second-section{
    margin: auto;
    padding-top: 94px;
    
}
.second-section .center-container{
    display: flex;
    width: 1200px;
    gap: 30px;
    margin: auto;
    
}

.what-we-do-container{
    width: 1200px;
    margin: auto;
    margin-top: 94px;

}
.what-we-do-container ul{
    display: flex;
    gap: 30px;
}



h2{
    font-family: var(--font-family);
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}

.third-section h2{
    padding-top: 94px;

}
.third-section{
    background-color: #F5F4FA;
    margin: auto;
    width: 100%;
    height: 648px;
    
}

.third-section ul{
    display: flex;
    justify-content: center;
}

.third-section h3{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    text-align: center;
}
.third-section p{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    color: #757575;
    text-align: center;
}



.button-filter ul li button{
    border: none;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    height: 38px;
    
}
.button-filter ul li button:active{
    color: #FFFFFF;
}
.button-filter ul li button:hover{
    background-color: #2196F3;
    color: #FFFFFF;

}
.button-filter ul li button:focus{
    background-color: #2196F3;
    color: #FFFFFF;
}
ul{
    list-style-type: none
}

.button-filter ul{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 94px;

}
/* PORTFOLIO BUTTONS */
.all-btn button{
    width: 64px;
}
.web-btn button{
    width: 120px;
}
.apps-btn button{
    width: 83px;
}
.design-btn button{
    width: 96px;
}
.marketing-btn button{
    width: 121px;
}

.portfolio-images{
    display: grid;
    margin: auto;
    width: 1200px;
    height: 1360px;
    padding-bottom: 94px;
}
.portfolio-images ul{
    display: grid;
    grid-template-columns: 370px 370px 370px;
    column-gap: 40px;  
    gap: 40px;
}
.portfolio-images ul li{
    border-bottom: 1px solid #EEEEEE;
}
   


.poster-title{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 18px;
}

.poster-description{
    color: var(--link-color);
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
}




/* Footer section */
footer{
    background-color: #2F303A;
    color: #FFFFFF;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    width: 100%;
    height: 251px;
}
footer a:hover{
    color: #2196F3;
}
footer a {
    text-decoration: none;
    color: #ffffff60;
    font-size: 14px;
    font-family: var(--font-family);
    font-weight: 400;
    
}


.logo-studio-footer{
    color: #FFFFFF;
     font-family: var(--font-family-logo);
    font-weight: 700;
    font-size: 26px;
}

footer address p{
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: 400;
}

footer address{
    font-style: normal;
    
}
.footer-contact{
    padding-left: 215px;
    
}

.footer-logo{
    padding-top: 60px;
    padding-left: 215px;
}
    




